.top-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 30px;
}

.top-bar input {
  display: flex;
  width: 240px;
  height: 50px;
  background: #ebfffc;
  border: none;
  outline: none;
  border-radius: 25px;
  padding-left: 20px;
  color: #626262;
  font-size: 16px;
  font-weight: 400;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #ebfffc;
  border-radius: 25px;
  cursor: pointer;
}

.weather-image {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.weather-temp {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: 400;
}

.weather-location {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: 400;
}

.weather-feelslike {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-weight: 200;
  margin-top: 12px;
}
.data-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  color: white;
}

.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.data {
  font-size: 16px;
  font-weight: 400;
}

.text {
  font-size: 16px;
  font-weight: 400;
}

.icon {
  margin-top: 5px;
}
